@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-white cursor-none;
  }
  /* Fallback for touch devices */
  @media (hover: none) {
    body {
      cursor: auto;
    }
  }
}

/* Custom Selection Color */
::selection {
  background-color: #CCFF00;
  color: #000000;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #CCFF00;
}